<html>
    <body>
        <h1>
            EJS START Elektronik Bilgisayar sayfasi
        </h1>
        <h2>
            <%= mesaj %>

        </h2>

        <h2>
            <% for(var i=0;i<adlar.length;i++){%>
                <li><%= adlar[i]%></li>
                <%}%>

        </h2>
    </body>
</html>