<html>

<link rel="stylesheet" href="..\public\css\style.css">
    <body>
        <h1>
            EJS START Elektronik Bilgisayar sayfasi
        </h1>

        <%- body  %>
        
        <h2>Visual studio code node js</h2>
    </body>
</html>