<html>
<head>
    <link rel="stylesheet" href="..\..\public\css\style.css">
    <link rel="stylesheet" href="..\..\public\css\css\bootstrap.css">
</head>

<link rel="stylesheet" href="..\public\css\style.css">
    <body>
        <h1>
            EJS START Elektronik Bilgisayar sayfasi
        </h1>

        <%- body  %>
        
        <h2>Visual studio code node js</h2>
 
        <script type="application/javascript" src="/public/js/jquery-3.6.0.js"></script>
        <script type="application/javascript" src="/public/js/bootstrap.js"></script>
    </body>
</html>